In [15]:
import pandas as pd
import streamlit as st
import plotly.express as px

In [2]:
lex = pd.read_csv('/Users/jinlinchen/Documents/Study/HWR Berlin/Semester 2/Big Data Architecture/L6/gapminder/app/lex.csv')
pop = pd.read_csv('/Users/jinlinchen/Documents/Study/HWR Berlin/Semester 2/Big Data Architecture/L6/gapminder/app/pop.csv')
gnp = pd.read_csv('/Users/jinlinchen/Documents/Study/HWR Berlin/Semester 2/Big Data Architecture/L6/gapminder/app/ny_gnp_pcap_pp_cd.csv')

In [3]:
lex.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,75.9,76.1,76.2,76.4,76.5,76.7,76.8,77.0,77.1,77.3
1,Angola,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,75.8,75.9,76.0,76.1,76.3,76.4,76.5,76.7,76.8,76.9
2,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,88.9,89.0,89.2,89.3,89.4,89.5,89.6,89.7,89.8,90.0
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91.0,91.1,91.3,91.4,91.5,91.6,91.7,91.8,91.9,92.0
4,UAE,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,30.7,...,83.7,83.8,83.9,84.0,84.1,84.2,84.3,84.5,84.6,84.7

In [4]:
gnp.head()

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,20.5k,22.2k,23.2k,24.6k,26.3k,26.9k,26.8k,28.3k,28.6k,...,34.7k,35.5k,35.8k,35.9k,36.7k,39k,40.6k,34.1k,41.6k,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2070,2110,2150,2040,2120,2130,2200,2100,1690,NaN
2,Angola,3000,3320,1630,1500,1260,2350,2420,2830,2820,...,7090,7630,6900,6660,6770,6500,6260,5800,5990,6450
3,Albania,2550,1880,1740,2110,2300,2710,3050,2780,3110,...,10.8k,11.4k,11.8k,12.3k,12.8k,13.5k,14.2k,13.8k,15.3k,18.2k
4,UAE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76k,79k,70k,69.2k,71.7k,73.5k,75.2k,71.1k,76.8k,87.3k

In [5]:
pop.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
4,UAE,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M

In [6]:
# Perform forward filling on numeric columns only
lex.iloc[:, 1:] = lex.iloc[:, 1:].ffill(axis=1)
gnp.iloc[:, 1:] = gnp.iloc[:, 1:].ffill(axis=1)
pop.iloc[:, 1:] = pop.iloc[:, 1:].ffill(axis=1)

In [7]:
# Replace NaN values with 0 in the entire DataFrames
lex.fillna(0, inplace=True)
gnp.fillna(0, inplace=True)
pop.fillna(0, inplace=True)

In [8]:
pop.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,108M,108M,109M,109M,109M,110M,110M,110M,111M,111M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,125M,126M,127M,128M,129M,130M,131M,131M,132M,133M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.35M,1.32M,1.29M,1.26M,1.23M,1.21M,1.18M,1.15M,1.12M,1.1M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,62.5k,62.2k,61.9k,61.7k,61.4k,61.2k,60.9k,60.7k,60.5k,60.2k
4,UAE,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,13.5M,13.5M,13.6M,13.7M,13.8M,13.8M,13.9M,14M,14M,14.1M

In [9]:
# Function to convert string values to numeric
def convert_to_numeric(value):
    if isinstance(value, str):
        value = value.strip()
        if 'B' in value:
            return float(value.replace('B', '')) * 1_000_000_000
        elif 'M' in value:
            return float(value.replace('M', '')) * 1_000_000
        elif 'k' in value:
            return float(value.replace('k', '')) * 1_000
        else:
            return float(value)
    return value

# Apply the conversion function to all columns except 'country'
for col in pop.columns[1:]:
    pop[col] = pop[col].apply(convert_to_numeric)

In [10]:
# Transform the lex DataFrame to tidy format
lex_tidy = lex.melt(id_vars=["country"], var_name="year", value_name="life_expectancy")

# Transform the pop DataFrame to tidy format
pop_tidy = pop.melt(id_vars=["country"], var_name="year", value_name="population")

# Transform the gnp DataFrame to tidy format
gnp_tidy = gnp.melt(id_vars=["country"], var_name="year", value_name="GNI_per_capita")

In [11]:
pop_tidy

            country  year  population
0       Afghanistan  1800   3280000.0
1            Angola  1800   1570000.0
2           Albania  1800    400000.0
3           Andorra  1800      2650.0
4               UAE  1800     40200.0
...             ...   ...         ...
59292         Samoa  2100    441000.0
59293         Yemen  2100  74200000.0
59294  South Africa  2100  74600000.0
59295        Zambia  2100  63600000.0
59296      Zimbabwe  2100  35600000.0

[59297 rows x 3 columns]

In [12]:
# Merge the DataFrames on 'country' and 'year'
merged_df = pd.merge(lex_tidy, pop_tidy, on=["country", "year"])
merged_df = pd.merge(merged_df, gnp_tidy, on=["country", "year"])

In [13]:
merged_df

           country  year  life_expectancy  population GNI_per_capita
0      Afghanistan  1990             53.8  10700000.0              0
1           Angola  1990             49.7  11800000.0           3000
2          Albania  1990             72.8   3300000.0           2550
3              UAE  1990             68.7   1900000.0              0
4        Argentina  1990             72.5  32600000.0           6870
...            ...   ...              ...         ...            ...
6232         Samoa  2022             70.9    222000.0           5870
6233         Yemen  2022             66.3  33700000.0           3280
6234  South Africa  2022             60.5  59900000.0          15.6k
6235        Zambia  2022             62.2  20000000.0           3680
6236      Zimbabwe  2022             59.1  16300000.0           2460

[6237 rows x 5 columns]

In [16]:
# Define the year and selected countries for the test
year = 2000  # You can change this to any year present in your dataset
selected_countries = ['Afghanistan', 'Angola', 'Albania']  # You can change this to any set of countries present in your dataset

# Filter data based on the test input
filtered_df = merged_df[(merged_df['year'] == str(year)) & (merged_df['country'].isin(selected_countries))]

# Create bubble chart
fig = px.scatter(
    filtered_df, 
    x='GNI_per_capita', 
    y='life_expectancy', 
    size='population', 
    color='country', 
    log_x=True, 
    size_max=60, 
    range_x=[1, 1e6],  # Adjust this range as necessary
    labels={'GNI_per_capita': 'GNI per capita (log scale)', 'life_expectancy': 'Life Expectancy'},
    title=f'Gapminder Data for {year}'
)

# Show the chart
fig.show()